<br />
<h1>Liste eigener Stundeneinträge</h1>
<button (click)="getItemListFromDB()">Daten aktualisieren Test</button>
<div *ngIf="showJSON">
<br />
<br />
<table class="table table-hover">

  <thead class="thead-default">
      <tr>
        <th>Datum</th>
        <th>Dauer</th>
        <th>Kunde</th>
        <th>Auftrag</th>
        <th>Text</th>
        <th>Abrechnen</th>
        <th>Zuschlag</th>
        <th>Datenbank-ID</th>
        
      </tr>
    </thead>
    <tbody>
    <!--Construct table, as many rows as entries from db  -->
    <tr *ngFor="let entry of entryList">
        <td> {{entry.date | date:"dd.MM.yyyy"}} </td>
        <td> {{entry.duration}} </td>
        <td> {{entry.kdname}} </td>
        <td> {{entry.order}} </td>
        <td> {{entry.text}} </td>
        <td> {{entry.bill | pipeYesNo}} </td>
        <td> {{entry.premium}} </td>
         <td> {{entry.id}} </td>
    </tr>
    </tbody>
</table>
</div>
