<div class="container">
    <div class="row">
            <br />
            <ul>
                <li><a routerLink="/">Hauptseite</a></li>
                <li><a routerLink="/Stundeneintrags-Liste">Stundeneintrags Liste (eigene)</a></li>
                <li><a routerLink="/Stundeneintrag-erstellen">Stundeneintrag erstellen</a></li>
            </ul>
            <router-outlet></router-outlet>
    </div>
</div>
