<!--Idee/Funktionsweise der Komponente: Alle Variablen binden mit [(ngModel)], um sie zu lesen/schreiben und in .ts datei zu übernehmen   
dort vars erstellen. 
eine createMethode nach Vorbild Login Methode
setze Http Request ab (werte stehen in: stufe0= header, stufe1= json array. php antwortet dann success true oder false im header/body)-->


<!--#f für Zugriff auf Formular, die etwas kryptische Syntax liegt an Angular2 und folgt der offiziellen Doku. 
siehe https://angular.io/docs/ts/latest/api/forms/index/SelectControlValueAccessor-directive.html  (abgerufen 2017-02-16)  
momenten zweifache Arten des abrufens /natürlich gewachsen. Aller außer dauer über [(ngModel)] und Klassenvariablen
dauer über f.value.dauer_select weils so laut doku geht
völlig unglogischer weise muss es #f heissen und nicht selbst gewählt #form .Einfach Hinnehmen.-->
<form (ngSubmit)="itemCreate(f)" #f="ngForm">
    <h1> Neuer Stundeneintrag: </h1><br />    
    <br />
    <label> (#dev: User-ID bitte eingeben) </label><br />
    <input type="text" name="user" [(ngModel)]="user"/><br />
    <label>Datum (#dev noch im YYYY-MM-DD Format bitte) </label><br />
    <input type="text" name="date" [(ngModel)]="date"/><br />
    <label>Dauer</label><br />
    <select name="dauer_select" [(ngModel)]="dauer_select"> 
      <option value="15">00:15</option>
      <option value="30">00:30</option>
      <option value="45">00:45</option>
      <option value="60">01:00</option>
      <option value="75">01:15</option>
      <option value="90">01:30</option>
      <option value="105">01:45</option>
      <option value="120">02:00</option>
      <option value="135">02:15</option>
      <option value="150">02:30</option>
      <option value="165">02:45</option>
      <option value="180">03:00</option>
      <option value="195">03:15</option>
      <option value="210">03:30</option>
      <option value="225">03:45</option>
      <option value="240">04:00</option>
      <option value="255">04:15</option>
      <option value="270">04:30</option>
      <option value="285">04:45</option>
      <option value="300">05:00</option>
    </select> <br />

    <!--#debug hiermit würde man die Werte sehen.   -->
     <p>Form value: {{ f.value | json }} dauer_select value: {{f.value.dauer_select}} </p>

    <label>Zuschlag</label><br />
    <input type="number_format" name="zuschlag" [(ngModel)]="zuschlag" /><br />
    <label>Kunden-Nummer (#dev nr eintragen aus DB noch) </label><br />  <!-- todo Dropdown Menü -->
    <input type="number_format" name="kdnr" [(ngModel)]="kdnr" /><br />
    <label>Auftrag </label><br />
    <input type="text" name="auftrag" [(ngModel)]="auftrag"/><br />
    <label>Text </label><br />
    <textarea name="text" cols="50" rows="10" [(ngModel)]="text"></textarea> <br />
    <label> (#dev: abrechnen ja oder nein, 1 oder 0 eingeben bitte) </label><br />
    <input type="text" name="abrechnen" [(ngModel)]="bill"/><br />

    <!-- simpler weg
    <button (click)="itemCreate()">Eintrag erstellen!</button>  
    neuer Weg über ngSubmit-->
    <button type="submit">Stundeneintrag erstellen</button>



</form>  

