<h1>Dev: Debug DB-Service</h1>

<form action="login()" method="post">
    <div class="form-group">
        <label>Benutzername: </label><br />
        <input type="email" class="form-control" id="user1" input type="text" name="user" placeholder="Max Mustermann" [(ngModel)]="user" /><br />
    </div>
    <div class="form-group">
        <label>Passwort: </label><br />
        <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Passwort"/><br />
    </div>
    <button (click)="login()" class="btn btn-primary">Login</button>
</form>  
<debu
   <div *ngIf="showError">
        <p> Sorry. Ungültige Kombination aus Benutzername und Passwort </p>
   </div>
<hr />